/* CSS Document */
.header{ width:100%; height:50px; top:0px; z-index:999999;}
.header p{ width:100%; height:50px; line-height:50px; font-size:18px; }
.header .logo{ height:26px; top:12px; left:10px}
.header .logo_bg{ height:50px;}
.header .logo_user{height:20px; right:10px;top:15px;}
.header .logo_user img{height:20px;}
.header .logo_city{ width:auto; padding-left:5px; position:absolute; top:0; color:#fff; font-size:16px;}
.header .logo_city img{ height:15px; width:13px; float:left; margin-top:17px; margin-left:5px;}
.header .logo_city span{ float:left;}

.header .back{height:26px;top:15px; left:10px}
.header .back img{ height:20px; margin-right:10px;}
.header .back:active{ opacity:0.5;}
.header .back span{ width:auto; height:20px; line-height:20px; font-size:16px;}

.header a.white{right:10px;top:15px; font-size:16px;}
.header .white:active{ opacity:0.5;}
/*******common******/
.text{ width:95%; height:30px; line-height:30px; padding:5px 0 5px 5%; font-size:14px;}
.button{height:30px; line-height:30px;  font-size:18px;}
.button:active{ background-color:#999;}

/*******common******/
.main{width:100%; height:auto; min-height:500px;  background-color:#f4f4f4;}
.main_T{ width:100%; height:35px; background-color:#fff; border-bottom:1px solid #ccc; position:fixed; top:50px;}
	.main_T a{ width:90%; height:35px; padding:0 5%; overflow:hidden; display:block;}
	.main_T a img{ height:15px; margin-top:10px; width:12px; float:left;}
	.main_T a span{ float:left; line-height:35px; color:#999; padding-left:10px;}
	.main_T a b{ float:right;line-height:35px; color:#999; font-weight:normal;}
	.main_T a:active{ background-color:#eee}
	
.index{ width:90%; height:auto; padding:20px 5%;}
	.index h4{ width:100%; height:40px; line-height:40px; overflow:hidden; padding:10px 0;}
	.index p{ width:80px; height:40px; line-height:40px; float:left; font-size:14px; font-weight:normal;}	
	.index span{ width:auto; height:40px; display:block; margin-left:80px;}
	.index span.blue{ font-size:16px;}
	.index  select{ width:99%; height:38px; line-height:38px; border:1px solid #ccc; border-radius:4px; display:block; color:#666;}
	.index  input{ width:95%; height:28px; line-height:28px; border:1px solid #ccc; padding:5px 0 5px 4%; border-radius:4px;}
	.index  input:focus{ border-color:#aaa;}
	.index h4.gray9{ width:100%; text-align:center; font-size:14px; font-weight:normal;}
	.index table td{padding-top:20px;}
	
	.index a.tr{ width:100%; display:block; height:25px; line-height:25px; color:#666;}
	.index a.tr:active{ color:#999;}
	
	.index #index_more{ border:1px solid #ccc; border-radius:4px;width:99%; height:30px; line-height:30px; padding:5px 0; font-size:14px; margin:0 auto; background-color:#fff; display:block;}
	
	.index .button{ width:70%; display:block; margin:20px auto 10px auto; padding:5px 0;}
	
	
	
.login{ width:100%; height:auto;}
	.login_T{ width:100%;}
		.login_T P{ width:90%; height:30px; padding:15px 5%; border-bottom:1px solid #ddd;}
		.login_T P span{width:100px; height:30px; line-height:30px; font-size:18px;} 
		.login_T P input{ width:50%; height:30px; line-height:30px;font-size:18px; margin-left:100px; display:block;}
		.login_T a{ width:80px; right:10px; top:75px; font-size:14px;height:24px; line-height:24px;}
	.login_B{ width:90%; padding:0 5%;}
		.login_B p{ width:96%; padding:10px 2%; height:auto;}
		.login_B p a{ height:30px; line-height:30px; font-size:14px; color:#999;}
		.login_B p a:active{color:#f26100;}
		.login_B a.blue:active{color:#f26100;}
	.login_BB{ width:90%; padding:0 5%; margin-top:70px;}
		.login_BB p{ width:130px; height:30px; line-height:30px; background-color:#f4f4f4; z-index:9;}
		.login_BB span{ width:90%; height:1px; top:15px;}
		.login_BB a { width:45%;max-width:160px;}
		.login_BB a img{width:100%; max-width:160px;}
		
.user{ width:100%; height:auto;}
	.user_T{ width:100%; height:100px; }
		.user_T a { width:85%; padding:0 5% 0 10%; height:100px; display:block;}
		.user_T img.fl{ width:60px; height:60px;  border-radius:30px;margin-top:20px;}
		.user_T img.fr{ width:10px;  margin-top:45px;}
		.user_T p{ width:auto; height:auto; padding-top:20px; margin-left:70px;margin-right:70px;}
		.user_T p span{ width:100%; height:30px; line-height:30px; display:block;} 
		.user_T p span img{ height:18px; float:left; margin:5px 5px 0 0; font-weight:normal;}
		.user_T p span b{ float:left;}
	.user_M{ width:100%; height:auto; }
		.user_M a{ width:33%; height:60px; padding-top:20px;border-bottom:1px solid #ddd;border-left:1px solid #ddd;}
		.user_M a span{ width:100%; height:30px; line-height:30px;}
		.user_M a img{ height:25px; margin-bottom:5px;}
		
	.user_B{ width:100%; height:auto; padding:10px 0;}
		.user_BT{ width:90%; padding:0 5%; height:30px; line-height:30px; border-bottom:1px solid #ccc;}
		.user_BT a{ height:20px; line-height:20px; margin-top:5px; padding:0 10px;}

.user_case{ width:100%; height:auto; padding-top:20px;}
	.user_caseT{ width:86%; height:100px; margin:0 auto; padding:10px;}
		.user_caseT p{ width:100%; height:20px; line-height:20px;}
		.user_caseT h3{ width:100%; height:50px; line-height:50px; font-size:30px; font-weight:normal;}
		.user_caseT h3 i{ font-size:12px;}
		.user_caseT a{ width:50%; font-size:14px;}
	
	.user_caseM{ width:100%; height:auto; margin-top:10px;}
		.user_caseM h3{ width:90%; height:30px; line-height:30px; font-weight:normal; padding:0 5%; background-color:#ddd;}
		.user_caseM ul{ width:90%; height:auto; padding:0 5%;}
		.user_caseM ul li{ width:100%; height:auto; padding:10px 0 5px; border-bottom:1px solid #ddd;}
		.user_caseM ul li p{ width:100%; height:25px; line-height:25px;}
		.user_caseM ul li p i{ line-height:20px;}
	.user_caseB{ width:100%; height:auto; }
		.user_caseB h3{width:90%; height:30px; line-height:30px; font-weight:normal; padding:0 5%; margin-bottom:10px; background-color:#ddd;}
		.user_caseB input{ width:80%; height:25px; line-height:25px; margin:5px 10%; float:left;}
		.user_caseB select{ width:25%;height:25px; line-height:25px;float:left; margin:5px 1%;}
		.user_caseB p{ width:80%; height:20px; line-height:20px; padding:5px 10%; float:left;}
		.user_caseB a{width:80%;margin:0 10%; float:left; font-size:14px;}
.share{width:100%; height:auto;}
	.shareT1{ width:100%; height:auto;}
	.shareT1 img{ width:100%;}
	.shareT1 div{ width:100%; height:25px; line-height:25px; top:160px; left:20px; color:#fff; }
	.shareT1 h3{ width:100%; height:30px; line-height:30px; font-size:18px;}
	.shareT1 h2{ width:100%; height:40px; line-height:40px; font-size:18px;}
	.shareT1 h1{ width:100%; height:50px; line-height:50px; font-size:18px;}
	.shareT1 h1 .red{ font-size:28px;}
	.shareT1 p{ width:76%; height:auto; line-height:20px; border:1px solid #ccc; margin:10px auto 0; padding:5px 2%;}
	.shareT1 p span{ line-height:30px;}
	
	.shareM1{ width:100%; height:auto;}
	.shareM1 input{ width:80%; height:30px; line-height:30px; margin:40px 9% 20px; }
	.shareM1 a.white{width:80%;margin:0 10%; height:40px; line-height:40px; font-size:18px;}
	.shareM1 a.gray9{width:80px;margin:0 auto; height:25px; line-height:25px; font-size:12px; margin-top:30px;}
	.shareM1 p{ width:100%; height:30px; line-height:30px;}
	
	
.city{ width:100%; height:auto;}
	.city_T{ width:90%; height:auto; padding:0px 5%;}
		.city_T p{ width:100%; height:50px; line-height:50px; font-size:16px; color:#666;}
		.city_T a{ width:27%; margin-right:5%; height:48px; line-height:48px; background-color:#fff; border:1px solid #ddd; text-align:center; font-size:18px;}
		.city_T a.fl{ margin-bottom:20px;}
		/*.city_T a.fl:active{ border:1px solid #f26100; background-color:#f26100; color:#fff;}*/
	.city_B{ width:90%; height:auto; margin:20px 5% 0; border-top:1px solid #ddd; padding-top:30px;}
		.city_B a{ width:99%;  height:48px; line-height:48px; background-color:#fff; border:1px solid #ddd; display:block; text-align:center; font-size:18px;}


.message{width:100%; height:auto;}
	.message a{ width:90%; height:auto;padding:15px 5% 10px; display:block; border-bottom:1px solid #ddd; background-color:#fff;}
	/*.message a:active{ background-color:#f1f1f1;}*/
	.message a h4{ overflow:hidden;}
	.message a h4 span{ width:40px; height:20px; line-height:20px; color:#fff;}
	.message a h4 i{color:#999; font-weight:normal;}
	.message a p{ padding-top:5px; font-size:16px; line-height:30px;}

.building{width:100%; height:auto;}
	.building a{ width:90%; height:auto;padding:15px 5%; display:block; border-bottom:1px solid #ddd; background-color:#fff; position:relative;}
	/*.building a:active{ background-color:#f1f1f1;}*/
	.building a b.pa{ width:25px; height:25px; line-height:25px; left:0px; top:0px; color:#fff; z-index:999; text-align:center; font-weight:normal;}
	.building a i.pa{ left:-30px; top:-30px;width:0; height:0;border-top:30px solid #2A9CD5;border-bottom: 30px solid transparent;border-left: 30px solid transparent;border-right: 30px solid transparent;
	 filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
 -moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
-webkit-transform: rotate(135deg);
transform: rotate(135deg);}
	.building a p img.fl{ height:15px; width:auto; margin-top:5px; margin-right:5px;}
	.building a p{ width:auto; height:100px; margin-left:20px; overflow:hidden; display:block;}
	.building a p span{ width:100%; height:auto; line-height:25px; display:block; font-size:14px; overflow:hidden;}
	.building a p span b{ font-weight:normal; color:#666; font-size:12px; float:left;}
	.building a p span i{ width:40px; height:20px; line-height:20px; border:1px solid #f26100; float:right; border-radius:4px; text-align:center;color:#f26100;}
	.building a p span i:active,.building a p span i.hover{ background-color:#f26100; }
	.building a p i{ width:100%; height:auto; line-height:25px; display:block; font-size:12px; color:#999;}

	.building a p strong{ font-size:16px; font-weight:normal;}
.building_select{width:96%; height:30px; padding:10px 2%; border-bottom:1px solid #ccc;}
	.building_select select{ width:25%; height:28px; margin-right:5%;}
	.building_select a{ width:60px; height:30px; line-height:30px; font-size:16px;}
	.building_select a i.pa{ width:0; height:0; margin:13px 0 0 5px; border-top:5px solid #666;border-bottom: 5px solid transparent;border-left: 5px solid transparent;border-right: 5px solid transparent;
}
/*.building_select a:hover i.pa{margin:8px 0 0 5px; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
 -moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
transform: rotate(180deg);}*/
	.building_select a.fr{ width:50px; height:30px;}
	.building_select a img{ width:25px; height:25px; margin:3px 0 0 15px;}
		 
.building_rim{width:100%; height:auto;}
	.building_rim div{ width:100%; height:auto;padding:0; display:block; border-bottom:1px solid #ccc; background-color:#fff;}
	/*.building a:active{ background-color:#f1f1f1;}*/
	.building_rim div h3.pa{ width:28px; height:98px; right:0; font-size:16px; padding-top:10px; margin:20px 10px; font-weight:normal;}
	.building_rim div img.pa{ width:80px; height:80px;}
	.building_rim div a{ width:auto; height:80px; margin-left:0; padding-left:90px; margin-right:10px; overflow:hidden; display:block;}
	.building_rim div a b{ width:100%; height:30px; line-height:30px; display:block; font-size:18px; overflow:hidden;}
	.building_rim div a span{width:100%; height:30px; line-height:15px; display:block; font-size:12px; color:#999;overflow:hidden;}
	.building_rim div strong{ width:100%; height:25px; line-height:25px; display:block; margin:5px 0;}
	.building_rim div strong i{ width:80px; height:25px; font-size:15px; font-weight:normal; margin-right:5px; overflow:hidden;}
	.building_rim div strong span{ width:auto; height:25px; line-height:25px; font-size:16px; font-weight:normal; margin-right:5px; overflow:hidden;}
	.building_rim div strong b{ width:48px; height:23px; line-height:23px; margin:0 5px;font-size:16px; font-weight:normal;  }
	.building_rim div a font{ width:100%; height:20px; line-height:20px; }
	.building_rim div a font em{ font-style:normal; font-size:14px;}
	.building_rim div a font em.fr{ color:#999;}

	.building_rim a{width:100%; height:40px; line-height:40px;display:block;}
	
		

.repay{width:100%; height:auto;}
	.repay_T{ width:90%; padding:10px 5% 10px; background-color:#fff; border-bottom:1px solid #eee; position: fixed; top:50px;}
		.repay_T table{ line-height:30px; font-size:14px;}
	.repay_B{ width:100%; background-color:#fff; margin-top:173px;}
		.repay_B table{line-height:30px; font-size:14px;}
		.repay_B table.pf{ top:191px; background-color:#fff;}
		.repay_B table td{ text-align:center; border-bottom:1px solid #eee; width:24%;}
		.repay_B table th{ font-weight:normal; background-color:#eee;border-bottom:1px solid #ddd; color:#666;width:24%;}
		.repay_B .table .table{ width:96%; margin:0 auto;}

.result{width:100%; height:auto;}
.result_T{ width:90%; height:auto; padding:10px 5% 20px; background-color:#FFF;}
	.result_T h4{ width:50%; height:40px; line-height:40px; overflow:hidden; float:left; }
	.result_T p{ width:70px; height:40px; line-height:40px; float:left; font-size:14px; font-weight:normal; color:#666;}	
	.result_T span{ width:auto; height:40px; display:block; margin-left:70px; text-align:left; font-weight:normal; font-size:16px;}
	
	.result_T h2.gray9{ width:100%; height:20px; line-height:20px;  font-size:14px; padding-top:10px; font-weight:normal;border-top:1px solid #ddd;margin-top:10px; float:left;}

	.result_T #index_more{ border:1px solid #ccc; border-radius:4px;width:99%; height:30px; line-height:30px; padding:5px 0; font-size:14px; background-color:#fff; display:block; margin:0 auto;}
	.result_T h1{ width:100%; height:auto; line-height:30px; padding-bottom:10px;  }
	.result_T h3{ width:100%; height:auto; line-height:20px; font-weight:normal;}

.result_B{width:90%; height:auto; padding:20px 5%; background-color:#FFF; border-top:1px solid #ddd;}
	.result_B a{ width:29%; height:auto; margin:10px 2% 20px; float:left;}
	.result_B a img{ width:35px;}
	.result_B a p{ width:100%; height:50px; line-height:50px; font-size:12px;}


.detail{width:100%; height:auto;}
	.detail img{ width:100%; max-height:300px;}
	.detail_lianxi{ width:100%; height:auto;}
	.detail_lianxi p{ width:96%; height:40px; line-height:40px; padding:0 2%; border-bottom:1px solid #ccc; overflow:hidden;}
	
	.detail_huxing{ width:100%; height:auto; border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
	.detail_huxing a{ width:96%; height:40px; line-height:40px; padding:0 2%; border-top:1px solid #ddd; display:block; font-size:14px;}
	.detail_huxing a:first{border-top-width:0;}
	.detail_huxing a i{ width:0; height:0; border-top:5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid #666;border-right: 5px solid transparent; margin:15px 0 0 0;right:0;}
	.detail_huxing a:active i{ border-left: 5px solid #85c134;}
	
	.detail_huodong{ width:100%; height:auto; border-top:1px solid #ccc;}
	.detail_huodong h2{ width:96%; padding:0 2%; height:40px; line-height:40px; background-color:#dedede;}
	.detail_huodong p{ width:96%; padding:10px 2%; height:auto; line-height:25px; font-size:14px;}
	.detail_huodong ul{ width:96%; padding:10px 2%; height:auto; font-size:14px; overflow:hidden;}
	.detail_huodong ul li{ width:50%; height:30px; line-height:30px; overflow:hidden; float:left; }
	
	.detail_yuyue{ width:100%; height:50px; bottom:0px;}
	.detail_yuyue a{ width:100%; height:50px; line-height:50px;}


.yuyue{ width:90%; height:auto; padding:20px 5%;}
	.yuyue p{ width:100%; height:30px; line-height:30px; font-size:16px; font-weight:bold;}
	.yuyue select,.yuyue input{ width:100%; height:30px; line-height:30px; margin-bottom:20px; border:1px solid #bbb;}
	.yuyue input:focus{ border:1px solid #666;}
	.yuyue a{ width:150px; height:40px; display:block; line-height:40px; left:50%; margin-left:-76px; margin-top:30px; font-size:18px;}

.xiangmu{ width:100%; height:auto;}
.xiangmu ul{ width:96%; height:auto; padding:0 2%;}
.xiangmu ul li{ width:auto; height:auto; padding:10px; margin-top:20px; border:1px solid #ccc; overflow:hidden;}
.xiangmu ul li p{ width:48%; height:35px; line-height:35px; padding-right:2%; float:left; font-size:15px;}
.xiangmu ul li h2{ width:100%; height:40px; line-height:40px; margin-bottom:10px; font-size:18px; border-bottom:1px solid #ddd;}
.xiangmu ul li h2 a{ width:50px; height:25px; line-height:25px; font-weight:normal; float:right; margin-top:5px; font-size:14px;}

.xiangmu a{width:100%; height:40px; line-height:40px;  }


	
.footer{ width:100%; height:auto; line-height:25px;background-color:#f4f4f4; padding-top:20px; padding-bottom:10px;}