@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

* {
padding: 0px;
margin: 0px;
font-family:"微软雅黑",Arial, Verdana, Tahoma, "宋体", Helvetica, sans-serif;
}
body {font-size: 12px;color: #333;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}

/* remember to define focus styles! */
:focus {outline: 0;}

/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del { text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
i{ font-style:normal;}

/* ___________layout_css__________ */
a{ color:#333; text-decoration:none; cursor:pointer;}
a:hover,a.hover{ color:#0090d9;}
h1{ font-size:18px;}
h2{ font-size:16px;}
h3{ font-size:14px;}
h4{ font-size:12px;}
td{padding:0;word-break:break-all;}
input {vertical-align: middle;line-height: normal;}
.fl{ float:left;}
.fr{ float:right;}
.cb{ clear:both;}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle} 
.pr{position:relative} 
.pa{position:absolute}
.pf{ position:fixed; bottom:0;}
.abs-right{position:absolute;right:0}
.zoom{zoom:1} 
.hidden{visibility:hidden} 
.none{display:none}
.block{display:block}
.iblock{display:inline-block;}
.oh{ overflow:hidden;}

.cp{ cursor:pointer;}
.wn{white-space:nowrap;}
.te{text-overflow:ellipsis }

.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}

.white,a.white{color:#fff}
.red,a.red{color:#ff6b6b}
.qblue,a.qblue{color:#03b1dd}
.blue,a.blue{color:#0090d9}
a.blue:hover{ color:#509ee1; text-decoration:none;}
.dblue,a.dblue{color:#3e739d}
.green,a.green{color:#0aa699}
.purple,a.purple{color:#8295bb}
.gray,a.gray{ color:#666}
.Ggray,a.Ggray{ color:#999}

.red_bg{ background-color:#ff6b6b}
.blue_bg{ background-color:#0090d9}
.qblue_bg{ background-color:#03b1dd}
.mblue_bg{ background-color:#509ee1}
.dblue_bg{ background-color:#3e739d}
.green_bg{ background-color:#0aa699}
.white_bg{ background-color:#fff}
.gray_bg{ background-color:#a8bdcf}
.purple_bg{background-color:#8295bb}
.Cgray_bg{ background-color:#CCC}

.orange_bg{ background-color:#fbbd5a;}
.orange,a.orange{ color:#fbbd5a}









.br4{ border-radius:4px;}
.br2{ border-radius:2px;}
.b_shadow{box-shadow:0px 2px 2px #d8d8d8;}

.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}

.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.line_unl{text-decoration:line-through;}

.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
/*********common**************/
.bg{background:url(../image/bg.jpg) no-repeat center 0; top:0px; width:100%; height:10000px; z-index:-9999;}
.body{ width:100%; min-width:1000px;_width:1000px; height:auto;}

.icon{width:30px; height:30px;background: url(../image/icon.png) no-repeat;}
	.narrow{ background-color:#243b56; background-position:0 0;}
	.narrow0{ background-color:#243b56; background-position:-150px 0;}
	.lock{background-position:-30px 0;}
	.bill{background-position:-60px 0;}
	.round{background-position:-90px 0;}
	.tip{background-position:-120px 0;}
	
	.share_phone{background-position:-0px -30px;}
	.share_iphone{background-position:-30px -30px;}
	.share_mail{background-position:-60px -30px;}
	.share_path{background-position:-90px -30px;}
	.share_qq{background-position:-120px -30px;}
	.alert_close{background-position:-150px -30px;}
	.alert_close:hover{background-position:-180px -30px;}
	.alert_right{background-position:-210px -30px;}
	.alert_ask{background-position:-240px -30px;}
	.alert_warn{background-position:-180px -0px;}
	.alert_error{background-position:-270px -60px;}
	.alert_message{background-position:-210px 0px;}
	
	.Level_red{background-position:-270px 0px;}
	.Level_orange{background-position:-240px 0px;}
	.Level_green{background-position:-270px -30px;}
	
	
.icon_s{width:20px; height:20px;background: url(../image/icon.png) no-repeat;}
	.inquiry{background-position:-480px 0;}/*10-9 delete*/
	.consign{background-position:-460px 0;}/*10-9 delete*/
	.statistics{background-position:-440px 0;}/*10-9 delete*/
	.report{background-position:-420px 0;}
	.company{background-position:-400px 0;}
	.download{background-position:-380px 0;}
	.about{background-position:-360px 0;}
	.contact{background-position:-340px 0;}
	.service{background-position:-320px 2px;}
	.project_on{background-position:-320px -30px;}
	.project_ing{background-position:-340px -30px;}
	.project_over{background-position:-360px -30px;}
	.project_off{background-position:-380px -30px;}

	
	
	.Config_1{background-position:-300px -240px;}
	.Config_2{background-position:-320px -240px;}
	.Config_3{background-position:-340px -240px;}
	.Config_4{background-position:-360px -240px;}
	.Config_5{background-position:-380px -240px;}
	.Config_6{background-position:-400px -240px;}
	.Config_7{background-position:-420px -240px;}
	.Config_8{background-position:-440px -240px;}
	.Config_9{background-position:-460px -240px;}
	
	.Data_1{background-position:-300px -210px;}
	.Data_2{background-position:-320px -210px;}
	.Data_3{background-position:-340px -210px;}
	.Data_4{background-position:-360px -210px;}
	.Data_5{background-position:-380px -210px;}
	.Data_6{background-position:-400px -210px;}
	.Data_7{background-position:-420px -210px;}
	.Data_8{background-position:-440px -210px;}
	.Data_9{background-position:-460px -210px;}
	
	.Statistics_1{background-position:-300px -180px;}
	.Statistics_2{background-position:-320px -180px;}
	.Statistics_3{background-position:-340px -180px;}
	.Statistics_4{background-position:-360px -180px;}
	.System_1{background-position:-380px -180px;}
	.System_2{background-position:-400px -180px;}
	.System_3{background-position:-420px -180px;}
	
	.Message_1{background-position:-300px -150px;}
	.Message_2{background-position:-320px -150px;}
	.Message_3{background-position:-340px -150px;}
	.Message_4{background-position:-360px -150px;}
	
	
	.home{background-position:-300px 0px;}
	
	
	.B_delete{background-position:-400px -30px;}
	.B_refresh{background-position:-420px -30px;}
	.I_speak{background-position:-300px -30px;}
	.B_message{background-position:-300px -60px;}
	.B_print{background-position:-320px -60px;}
	.B_download{background-position:-340px -60px;}
	.B_edit{background-position:-360px -60px;}
	.B_user{background-position:-300px -90px;}
	.B_site{background-position:-320px -90px;}
	
	.Fullscreen{background-position:-380px -60px;}
	
	.I_edit{background-position:-480px -30px;
	/*transition:background-position 500ms ease;
-moz-transition:background-position 500ms ease ;
-webkit-transition:background-position 500ms ease ;
-o-transition:background-position 500ms ease ;*/}
	.I_edit:hover{background-position:-480px -60px;}
	.I_delete{background-position:-460px -30px;}
	.I_delete:hover{background-position:-460px -60px;}
	.I_arrow{background-position:-440px -30px;}
	.I_arrow:hover{background-position:-440px -60px;}
	.I_save{background-position:-420px -90px;}
	.I_save:hover{background-position:-420px -120px;}
	.I_detail{background-position:-440px -90px;}
	.I_detail:hover{background-position:-440px -120px;}
	.I_remarks{background-position:-460px -90px;}
	.I_remarks:hover{background-position:-460px -120px;}
	.I_download{background-position:-480px -90px;}
	.I_download:hover{background-position:-480px -120px;}
    .I_copy{background-position:-400px -90px;}
	.I_copy:hover{background-position:-400px -120px;}

.star{ width:15px; height:15px; background:url(../image/star.png) no-repeat; margin-top:2px;}
.star0{ background-position:0 -15px;}
.star1{ background-position:0 0;}

.Score{ width:100%; height:auto; }
	.ScoreT{ overflow:hidden; width:100%; height:auto;}
		.ScoreT h4{ width:140px; height:25px; line-height:25px;}
		.ScoreT p{ width:70px; height:25px; line-height:25px; vertical-align:central; float:left;}
		.ScoreT p span{ padding-left:10px;}
	.ScoreB{ width:100%; height:auto; margin:20px 0;}
		.ScoreB_L{ width:180px; height:auto;}
		.ScoreB_R{ width:auto; height:auto; margin-left:200px; overflow:hidden; }
.p_star{position:relative;width:600px;height:15px; padding-bottom:15px;}
.p_star ul,.p_star span{float:left;display:inline;height:15px;line-height:15px;}
.p_star ul{margin:0 10px;}
.p_star li{float:left;width:24px;cursor:pointer;text-indent:-9999px;background:url(../image/star.png) no-repeat;}
.p_star strong{color:#f60;padding-left:10px;}
.p_star li.on{background-position:0 -15px;}
.p_star p{position:absolute;top:20px;width:159px; height:auto; background-color:#fff; border:1px solid #eee;display:none;padding:5px;z-index:99;}
.p_star p em{color:#f60;display:block;font-style:normal;}
/*.box_text*/

.box_text{height:25px; line-height:25px;border:1px solid #ccc; padding-left:2%; color:#333;}
.box_text:hover,.box_text:focus{border:1px solid #aaa;}
.box_tabtext{ width:90%;height:20px; line-height:20px;border:1px solid #ccc; padding-left:1%; color:#333;}
.box_tabtext:hover,.box_tabtext:focus{border:1px solid #aaa;}
.box{ width:100%; height:auto; margin-bottom:20px;}
	.bot_T{ width:96%; height:50px; border-bottom:1px solid #ccc; padding:0 2%;}
	.bot_T h4{ float:left; height:50px; line-height:50px; font-weight:normal; font-size:14px;}
	.bot_T p{ float:left; height:50px; line-height:50px; padding-left:20px;}
	.bot_T .box_text{ width:170px; margin:13px 0 0 10px;}
	.bot_T .Abutton{ margin-left:10px; margin-top:13px;}
	.bot_T a.blue b{ text-decoration:underline;}
	.bot_T a.blue b:hover{ color:#509ee1;text-decoration:none;}
	.bot_B{ width:96%; height:auto;padding:10px 2%; overflow:hidden;}

.page{width:auto; height:32px;}
	.page ul{ float:right;}
	.page ul li{ width:30px; height:30px; float:left; text-align:center; line-height:30px; border:1px solid #ccc; background-color:#fff; border-right-width:0;}
	.page ul li.pre{border-radius: 4px 0px 0px 4px;}
	.page ul li.next{border-radius: 0px 4px 4px 0px; border-right-width:1px; width:auto;}
	.page ul li.next select{ border-width:0; text-align:center; font-size:12px; color:#666;}
	.page ul li.fl{ color:#aaa;}
	.page ul li:hover{ background-color:#eee; cursor:pointer; color:#666;}
	.page ul li.hover{ background-color:#eee; cursor:pointer; color:#666;}
.page0{width:auto; height:32px;}
	.page0 div{ float:right;}
	.page0 a{ width:auto; height:30px; padding:0 10px; float:left; text-align:center; line-height:30px; border:1px solid #ccc; background-color:#fff; border-right-width:0;}
	.page0 a.first{border-radius: 4px 0px 0px 4px;color:#aaa;}
    .page0 a.prev{color:#aaa;}
	.page0 a.next{color:#aaa;}
	.page0 a.last{border-radius: 0px 4px 4px 0px; border-right-width:1px;color:#aaa;}
    .page0 a:hover{ background-color:#eee; cursor:pointer; color:#666;}
	.page0 a.hover{ background-color:#eee; cursor:pointer; color:#666;}
    .page0 select { width:40px; height:30px; line-height:30px; border:1px solid #ccc; margin-left:10px; float:left}

/***************alert******************/
.alert{ width:100%; height:auto; padding:0; top:0; left:0; z-index:999999;display:none; position:fixed;}
	
	.alertZ{ width:100%; height:10000px; position:absolute; top:0; z-index:99; background-color:#000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;  }
	.alertC{ width:auto; height:auto; margin:0 auto; background-color:#fff;position:absolute; z-index:99999; border-radius:2px; padding-bottom:10px;}
	.alertCT{ width:auto; height:50px; padding:0 20px; background-color:#f7f7f7; border-bottom:1px solid #999; border-radius:2px; cursor:move;}
	.alertCT p{ width:auto; height:50px; line-height:50px; cursor:auto;}
	.alertCT i{ margin-top:10px; cursor:pointer;}
	.alertCB{width:auto; height:auto; margin:0 auto; padding:20px 20px 10px;}
		.alertCB_S h1{ width:100%; height:30px; line-height:30px; padding:20px 0; font-weight:normal;font-size:16px;}
		.alertCB_S h2{ width:100%; height:30px; line-height:30px; padding:10px 0; font-weight:normal; font-size:14px;}
		.alertCB_S h1 i{ margin:0 10px 0 20px;}
		.alertCB_S h2 i{ margin:0 10px 0 20px;}
		.alertCB_S p{ width:auto; padding-left:60px; height:25px; line-height:25px;}
	.alertCM{ width:auto; height:auto;padding:10px 20px 10px; overflow:hidden;}
	
	
	.alertCBT{width:100%; height:30px;}
	.alertCBT h4{ float:left; height:30px; line-height:30px;font-size:14px; font-weight:normal;}
	.alertCBT a.blue{height:30px; line-height:30px;float:left; margin-left:10px;} 
	.alertCBT .Abutton{ margin-left:10px; margin-bottom:5px;}
	
	
	.D_alert_B{width:auto; height:auto; padding:5px 0 10px; margin-top:10px;box-shadow:0px 0px 5px #aaa;}
	
	
	
	.alertT{ width:100%; height:36px; padding-bottom:20px;}
		.alertT ul{ width:auto; height:auto; overflow:hidden;}
		.alertT ul li{ float:left; width:auto;}
		.alertT ul li a{ width:auto; height:30px; border-right:1px solid #d5d5d5; line-height:30px; margin:3px 0; background-color:#e5e5e5; padding:0 15px; display:block; text-align:center;}
		.alertT ul li a.hover,.alertT ul li a:hover{padding:3px 15px; margin:0; background-color:#0090d9; color:#fff; border-radius:2px;}
	.alertB{width:100%; height:auto; overflow:hidden; }
		.alertBL{ width:60%; height:auto;}
		.alertBR{ width:38%; height:auto;}

	.alert_tab{ width:auto; height:290px; border:1px solid #ccc; padding:10px; margin-top:10px;overflow-y:scroll;}
		.alert_tab table{ width:100%; }
	
    .alert_tab .bot_T{ height:25px;}
		.alert_tab .box{ margin-bottom:5px; border:1px solid #ddd;}
		.alert_tab .bot_T h4{ height:25px; line-height:25px; font-size:12px;}
		.alert_tab .bot_T i{ margin-top:8px;}


	.alert_remarks{ width:100%; height:auto; padding-top:15px; overflow:hidden;}
		.alert_remarks p{ width:10%; height:40px; line-height:20px; padding:5px 0; text-align:center;}
	
	.alert_lab{ width:94%; padding:0px 3% 10px;}
		.alert_lab ul{ width:100%; height:auto;}
		.alert_lab ul li{ display:block; overflow:hidden; margin-top:5px;}
		.alert_lab ul li .san_6b{ margin-top:10px;}
		.alert_lab ul li ul{ width:90%; float:right;}
		.alert_lab ul li ul li{ width:100%; height:auto;margin-top:0px;}
		.alert_lab ul li ul li a{ width:100%; height:25px; line-height:25px; display:block;}
		.alert_lab ul li ul li p{ width:85%; height:20px; line-height:20px; float:left;}


	
	.alert_city{ width:auto; height:auto; overflow:hidden;}
	.alert_city ul{ width:49%; height:auto; font-size:14px;}
	.alert_city ul li{ width:100%; height:auto; overflow:hidden;}
	.alert_city ul li b{ float:left; width:5%; height:25px; line-height:25px; color:#f90;}
	.alert_city ul li p{ width:95%; height:auto;float:left;}
	.alert_city ul li p a{ width:auto; height:25px; line-height:25px;padding:0 10px; float:left; margin-bottom:5px;}
	.alert_city ul li p a:hover,.alert_city ul li p a.hover{ background-color:#f90; color:#fff;}


.Cinput_show{ width:auto; height:auto; padding:10px; border:1px solid #ccc; background-color:#fff; box-shadow:1px 1px 5px #999;-moz-box-shadow:1px 1px 5px #999;-webkit-box-shadow:1px 1px 5px #999;}
	



/***************alert******************/



.Message{width:98%;height:auto;padding:10px 1% 20px 1%;  }
	.Message ul li{ overflow:hidden; border-bottom:1px dashed #ccc; line-height:25px;}
	.Message ul li p{ width:50px;}
	.Message ul li a{ width:72%; height:27px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
	.Message ul li span{ width:20%; text-align:right;}

.search{ width:100%; height:27px;}
	.search ul li{ float:left;}
	.search ul li p{ float:left; width:auto; height:27px; line-height:27px; padding:0 5%;}
	.search ul li span{ float:left; width:auto; height:27px; line-height:27px; padding:0 5px;}
	.search ul li a.fl{width:80%; height:27px; line-height:27px; border-radius: 2px; margin-left:20%;}
	.search ul li a.fl:hover{ background-color:#0090d9;}
.Vsearch{ width:100%; height:auto; }
		.Vsearch ul li{ width:auto; height:27px; margin-right:20px; float:left;padding-bottom:20px;}
		.Vsearch ul li p{ width:auto; height:27px; line-height:27px; float:left;}
		.Vsearch ul li .box_text{ width:100px; float:left; padding-left:5px; margin-left:10px;}
		.Vsearch ul li .box_text.Ntime{ width:75px;}
		.Vsearch ul li .check_box{ margin-top:8px; margin-left:5px;}
        .Vsearch ul li span{ float:left; width:auto; height:27px; line-height:27px; padding:0 5px;}

		.Vsearch ul li a.fl{width:80%; height:27px; line-height:27px; border-radius: 2px; margin-left:20%; padding:0 10px;}
		.Vsearch ul li a.fl:hover{ background-color:#0090d9;}
.Area{ width:100%; height:auto;}
	.Area ul{ overflow:hidden;}
	.Area ul li{ float:left;}
	.Area ul li a{ padding:0 10px; width:auto; height:30px;line-height:30px; display:block;}
	.Area ul li ul{overflow:hidden; display:none; position:absolute; background-color:#eee;}
	.Area li a.hover{ color:#f00; background-color:#eee;}
.check_tabox{ width:100%; height:auto;}
	.check_tabox ul{ overflow:hidden;}
	.check_tabox ul li{ float:left; width:auto; height:20px; margin-right:20px;}
	.check_tabox ul li input{ width:auto; margin-top:4px; margin-right:5px;float:left;}
	.check_tabox ul li p{ width:auto; height:20px; line-height:20px;float:left;}
	.check_tabox ul.oh li{ margin-bottom:5px;}


.button{ width:100%; height:30px; line-height:30px;}
	.button a{ padding:0 10px;}
	.button a:hover{background-color:#0090d9}
	.button a.fl{ margin-right:10px;}
	.button a.fr{ margin-left:10px;}
	.button a i{ margin-top:5px; margin-right:5px;}
	.button a b{ font-weight:normal;}
.Abutton{ width:auto; height:25px; line-height:25px; padding:0 10px;}
	.Abutton b{ font-weight:normal;}
	.Abutton .Abutton_add{ margin:7px 5px 0 0;}
	.Abutton .san_4w{margin:10px 0 0 5px;}
	
	.Abutton i {margin-top: 3px;margin-right: 2px;}
	.Abutton_add{ padding:1px; line-height:9px; }

.T_Arrow{ width:15px; height:15px; border:2px solid #aaa; display:inline-block; position:relative;}
	.T_Arrow i{width:0; height:0;border-top:5px solid transparent;border-bottom: 5px solid #aaa;border-left: 5px solid transparent;border-right: 5px solid transparent; position:absolute; top:-3px; right:2px;}
	.T_Arrow b{ width:3px; height:5px; background-color:#aaa;display:block; margin:7px 6px 0;}
	.T_Arrow:hover{border:2px solid #0090d9;}
	.T_Arrow:hover i{border-bottom: 5px solid #0090d9;}
	.T_Arrow:hover b{background-color:#0090d9;}
.B_Arrow i{width:0; height:0;border-top:5px solid #aaa;border-bottom: 5px solid transparent;border-left: 5px solid transparent;border-right: 5px solid transparent; position:absolute; top:7px; right:2px;}
.B_Arrow b{ width:3px; height:5px; background-color:#aaa;display:block; margin:2px 6px 0;}
	.B_Arrow:hover i{border-top: 6px solid #0090d9;border-bottom: 0px solid #0090d9;}

	
.san_6w{width:0; height:0;border-top:6px solid #fff;border-bottom: 6px solid transparent;border-left: 6px solid transparent;border-right: 6px solid transparent;}	
.san_4w{width:0; height:0;border-top:4px solid #fff;border-bottom: 4px solid transparent;border-left: 4px solid transparent;border-right: 4px solid transparent;}
.san_6b{width:0; height:0;border-top:6px solid #666;border-bottom: 6px solid transparent;border-left: 6px solid transparent;border-right: 6px solid transparent;}
.san_6bl{width:0; height:0;border-top:6px solid transparent;border-bottom: 6px solid transparent;border-left: 6px solid #666;border-right: 6px solid transparent;}	
.san_4b{width:0; height:0;border-top:4px solid #666;border-bottom: 4px solid transparent;border-left: 4px solid transparent;border-right: 4px solid transparent;}

.san_10gr{width:0; height:0;border-top:10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid #eee;border-right: 10px solid transparent;}	
.san_10gl{width:0; height:0;border-top:10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid transparent;border-right: 10px solid #eee;}	

.san_h:hover i.css3_Animate,.san_h.hover i.css3_Animate{
	transform:rotate(180deg);
-moz-transform:rotate(180deg); /* Firefox 4 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */
border-top-color:#0090d9;border-bottom-color:transparent;
	}
.san_hs:hover i.css3_Animate,.san_hs.hover i.css3_Animate{
	transform:rotate(180deg);
-moz-transform:rotate(180deg); /* Firefox 4 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */
border-top-color:#0090d9;border-bottom-color:transparent;
	}

.css3_Animate{transition: transform ease 0.3s;
-moz-transition: transform ease 0.3s; /* Firefox 4 */
-webkit-transition: transform ease 0.3s; /* Safari and Chrome */
-o-transition: transform ease 0.3s;}

.table_p{ height:40px; display:block; overflow:hidden;}

.table_th1024{ width:110px;}
.table_th10240{ width:135px;}
.table_th1{ width:30px;}

table tr.hover th{ background-color:#eee;}
table tr.hover td{ background-color:#ffdf7e;}
table tr.hover1 td{ background-color:#f2f2f2;}
.table{ width:100%; height:auto; background-color:#fff;}
	table.table tr.alt td { background:#f8f8f8;} 
    table.table tr.hover2 td { background:#b1dcff;} 
	table.table tr.over td {background:#f4f4f4;}
    table.table tr.hover td {background:#ffdf7e;}
	
	.table tr{ cursor:default;}
	.table th{ line-height:20px; padding:5px 0; text-align:center; font-weight:normal;vertical-align:middle;}
	.table td{line-height:20px; padding:5px;text-align:center; vertical-align:middle;}	
	
	.table1 th{ border-bottom:2px solid #ccc; font-weight:bold;}
	.table1 td{ border-bottom:1px solid #ccc; }
	.table1 input{ margin-left:10px;}

	.table2{border:1px solid #ccc; border-width:0 1px 1px 0; }
	.table2 th{border:1px solid #ccc; border-width: 1px 0 0 1px; background-color:#f4f4f4;}
	.table2 td{border:1px solid #ccc; border-width: 1px 0 0 1px;}
	.table2 td i{ margin-left:5px; cursor:pointer;}
	
	.tableA{ width:100%; height:auto;background-color:#fff;}
	.tableA tr{ cursor:default;}
	.tableA th{ line-height:20px; padding:5px 0; text-align:center; font-weight:normal;vertical-align:middle;}
	.tableA td{line-height:20px; padding:5px;text-align:center; vertical-align:middle;}	
	
	.table3{border:1px solid #ccc; border-width:0 1px 1px 0; }
	.table3 th{border:1px solid #ccc; border-width: 1px 0 0 1px; background-color:#f4f4f4;}
	.table3 td{border:1px solid #ccc; border-width: 1px 0 0 1px;}
	.table3 td.table3_hover{ background-color:#ececee; line-height:27px;}
	.table3 td i{ margin-left:5px; cursor:pointer;}

	
	
.none_list{width:auto; height:auto;right:0; display:none; z-index:99;}
	.none_listT{width:0; height:0;border-top:5px solid transparent;border-bottom: 10px solid #ccc;border-left: 5px solid transparent;border-right: 5px solid transparent; position:absolute; top:-5px; right:20px;}
	.none_listB{ width:auto; height:auto; padding:5px 0 10px; margin-top:10px;box-shadow:0px 0px 5px #aaa;}
	.none_listB table th{ font-weight:normal; line-height:25px; border-bottom:1px solid #ccc;}
	.none_listB table td{ height:20px; line-height:20px; padding:5px; border-bottom:1px solid #ccc; overflow:hidden;text-overflow:ellipsis;vertical-align: middle;}
	.none_listB table td i{ margin-left:20%; cursor:pointer;}
	
	 
/******************404*************************/
.error{ width:700px; height:auto; margin:0 auto; padding-top:150px;}
	.error h1{ line-height:80px; font-size:50px; margin-bottom:10px; }
	.error h3{ line-height:50px; font-size:18px; }
	.error h3 img{ margin-top:12px; margin-right:5px;}
	.error h4{ line-height:40px; font-size:14px; font-weight:normal; padding-top:10px;}
	.error p{ line-height:25px; font-size:12px; font-weight:normal;}
	.error p i{ float:left; width:5px; height:5px; background-color:#fff; margin:10px 10px 0 5px; }


/******************404*************************/
/******************file*************************/
.file{ width:100%; height:50px; padding:10px 0;}
	.file ul{ overflow:hidden;}
	.file ul li{ width:33%; height:auto; float:left;}
	.file ul li img{ float:left; margin-left:10px;}
	.file ul li p{ width:auto; height:50px; margin-left:70px; margin-right:5px; line-height:25px; border-right:1px solid #ccc;}
	.file ul li p span{ width:100%; height:50px; overflow:hidden;}
	.file ul li p b{ width:98%; height:25px; float:left;overflow:hidden;}
	.file ul li p i{ width:70px; height:25px; color:#ccc;float:left;overflow:hidden; text-align:center; }
	.file ul li p a{ margin-right:10px; text-decoration:underline;float:left;}
	.file ul li p a:hover{ text-decoration:none;}
/******************file*************************/
/******************member*************************/
.member{ width:100%; height:auto; padding:10px 0;}
	.memberL{ width:30%; height:auto; border:1px solid #ccc;}
		.memberL h3{ width:95%; height:20px; line-height:20px; padding:10px 0 10px 5%; border-bottom:1px solid #ccc;}
		.memberL h3 i{ margin-right:10px;}
		.memberL img.block{ width:150px;height:150px;; margin:20px auto; border-radius:100px;}
		.memberL p{ width:92%; height:30px; line-height:30px; padding:5px 4%; overflow:hidden; border-top:1px solid #ccc;}
		.memberL p span{ width:50%; height:30px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
		.memberL p span.fr{ text-align:right;}
	.memberR{ width:67%; height:auto; padding:10px 0; border:1px solid #ccc; }
		.memberRT{ width:94%; padding:5px 3%;overflow:hidden;}
		.memberRT h3{ width:100%; height:30px; line-height:30px; border-bottom:1px solid #ccc; padding-bottom:10px;}
		.memberRT h3 i{ background-color:#9fa7b3; border-radius:20px; cursor:pointer; margin:0 5px;}
		.memberRT h3 i:hover{ background-color:#0090d9;}
		
		.memberRT .table3{ border-width:0; margin-top:30px;}
		.memberRT .table3 .table_fr{ text-align:right;}
		
		.memberRT #memberRT_tab3{ border-width:0; margin-top:10px;}
		.memberRT #memberRT_tab3 td{ padding:10px 5px;}
		
		.memberRT .table3 .box_text{ width:70%;}
		.memberRT .table3 td{ text-align:left; border-width:0; padding:0 5px;}
		.memberRT .table3 td span{ margin:0 15px 0 5px;}
		.memberRT .table3 td a{ width:auto; height:auto; padding:0 10px; margin-right:5px;}
		
		.memberRT .table1 td{ text-align:left; border-color:#ccc;}
		
		
/******************member*************************/
/******************header*************************/
.header{ width:100%; height:75px;background: url(../image/header_bg.jpg) repeat-y right 0 #33506d  ;}
	.logo{ width:220px; height:30px; padding:20px 0 25px 20px;}
		.logo p{ width:30px; height:17px; line-height:17px; background-color:#243b56; color:#fff; border-radius:2px; margin-top:6px;}
		.logo img.fl{ margin-top:3px; margin-right:20px;}
		.logo i{ cursor:pointer; top:20px;}
		
	.user{ width:auto; height:75px; margin-left:250px;}
		.user_w{ width:100%; height:75px;}
		.user_l{ width:70%; height:auto;}
			.user_l .bill{ margin-top:20px; margin-right:20px;}
			.user_l .round{ line-height:30px; font-style:normal; color:#fff; left:12px; top:10px;}
			.user_l .tip{ margin-top:5px; left:0;}
			.user_l a{ width:85%; height:40px; line-height:40px; border:1px solid #1f2e47; border-radius:20px; background-color:#273a59; color:#fff; margin-top:15px;box-shadow: 0px -1px 1px #3e5974;}
			
			.user_l a span{ width:120px; height:40px; right:10px; top:0;}
			.user_l a p{ width:auto; height:40px; margin:0 130px 0 30px; }
		
			.user_l h3{ width:70px;  height:40px;line-height:40px; margin-top:15px; color:#fff; display:block; font-weight:normal; text-align:right; white-space:nowrap; overflow:hidden;text-overflow: ellipsis;}
			.user_l b{ width:80px;height:40px; line-height:40px; margin-top:15px;color:#fff;font-weight:normal; cursor:pointer;}
            .user_l b:hover{ color:#ddd;}
		.user_r{ width:auto; height:75px;}
			.user_r .lock{ margin-top:20px; margin-right:20px;}
			.user_r a{ width:auto; height:30px; line-height:30px; margin-top:20px; color:#fff; margin-right:5px;}
			.user_r a i{margin:13px 10px 10px 8px;}
			.user_r img{ width:40px; height:40px; border:2px solid #fff; border-radius:30px; margin-top:15px; margin-right:20px;}
            .user_r select{ margin-top:25px; margin-right:10px; width:65px;}
		.user_r_list{width:80px; height:auto; top:50px; right:60px; display:none; }
			.user_r_list i{width:0; height:0;border-top:5px solid transparent;border-bottom: 10px solid #333;border-left: 5px solid transparent;border-right: 5px solid transparent; position:absolute; top:-5px; left:35px}
			.user_r_list ul{ width:60px; padding:5px 10px; text-align:center; margin-top:10px; background-color:#333;border-radius:4px;}
			.user_r_list ul li a{ width:60px; height:30px; line-height:30px; border-bottom:1px solid #555; color:#fff; display:block;}
			.user_r_list ul li a:hover{ color:#aaa; cursor:pointer;}

/******************content*************************/
.content{ width:100%; height:auto;}
	.nav{width:240px; height:auto; position:absolute;}
		.nav_box{ width:230px; height:auto; margin:0  0 20px 10px; padding:10px 0 10px 0; border-radius:2px; background:url(../image/nav_bg.png) repeat-y;}
			.nav_box h4{ padding:3px 10px; margin:0 10px 5px; color:#fff; border-radius:20px; font-weight:normal; display:inline-block; background:url(../image/nav_bg_t.png) repeat-x;}
			.nav_box a{ width:200px; height:20px; line-height:20px; color:#fff; display:block; padding:12px 10px 12px 20px;}
			.nav_box a:hover{ background:url(../image/nav_bg_h.png) no-repeat;}
			.nav_box a.hover{ background:url(../image/nav_bg_h.png) no-repeat;}
			.nav_box a .icon_s{ margin-right:15px;}
			.nav_box a p{ width:165px; height:20px;}
			.nav_box a span{ width:95px; height:20px;background-color:#ddd; color:#333;border-radius:2px; cursor:default;}
            .nav_box a span:hover{background-color:#fff;}
			.nav_box a h2{ padding:0 5px; height:20px;border-radius:2px; cursor:default; font-size:12px; font-weight:normal;}
			
			.nav_box p.s{ width:220px; height:20px; line-height:20px; color:#fff; padding:10px 0 0 10px;}
			.nav_box p.s i{ display:inline-block; margin-right:5px;}
			.nav_box strong{ width:60px; height:20px; line-height:20px; color:#2e4862; background-color:#f0f0f0; display:block; font-weight:normal; margin:10px 10px 20px 15px;}
			
            .nav_box h3{ padding:0 10px 0 50px; color:#fff; font-weight:normal;}
			.nav_box b{ width:100px; height:20px; line-height:20px;color:#fff;font-weight:normal; cursor:pointer;}
            .nav_box b:hover{ color:#ddd;}
			.nav_box select{ width:70%; margin:0 auto;}
			
			.nav_box ul{ width:200px; height:auto; padding-left:30px; display:none; overflow:hidden;}
			
			
	.nav_s{width:50px; height:auto; position:absolute;}
		.nav_s ul{ width:50px; height:auto; border-bottom:1px solid #aaa; overflow:hidden;}
		.nav_s ul li{ width:50px; height:50px; float:left; cursor:pointer;}
		.nav_s ul li i{ margin:15px; display:block;}
		.nav_s ul li:hover,.nav_s ul li.hover{background:url(../image/nav_bg_h.png) -10px 10px repeat-y;}
		
	.main{width:auto; height:auto; margin-left:250px; }
		.main_nav{ width:100%; height:20px; line-height:20px; padding:20px 0 19px; border-bottom:1px solid #d0d0d0; background:url(../image/main_nav_bg.png) no-repeat #f5f5f5; color:#9ea7b3;}
			.main_nav .home{ margin:0 5px 0 60px;}
			.main_nav a{ padding:0 10px;color:#9ea7b3;}
			.main_nav a:hover{ color:#333;}

		.main_con{ width:auto; height:auto;min-height:670px;_height:670px; background-color:#efeff0; padding:30px 30px;}
			.main_conL{ width:200px; height:auto; float:left;}
			.main_conR{ width:auto; margin-left:210px;}
		.main_bottom{ width:98%; height:60px; padding-right:2%; line-height:60px; color:#666; border-top:1px solid #ccc;background-color:#efeff0; }
	
/******************Inquiry_BUTTON*************************/

/*********************MAP*****************************/
.Tmap01{ background-position:0 -60px;}
.Tmap02{ background-position:-30px -60px;}
.Tmap03{ background-position:-60px -60px;}

.Tmap1{ background-position:-300px -270px;}
.Tmap2{ background-position:-320px -270px;}
.Tmap3{ background-position:-340px -270px;}
.Tmap4{ background-position:-360px -270px;}
.Tmap5{ background-position:-380px -270px;}

.Tmap{ width:100%; height:auto;}
	.Tmap_T{ width:auto; height:30px; padding:0 10px; line-height:30px; border:1px solid #ccc; background-color:#f3f3f3; font-weight:bold;}
		.Tmap_T i{ margin-top:5px; margin-right:10px;}
	.Tmap_B{ width:100%; height:auto;}
		.Tmap_BL{ width:290px; padding:10px 5px; border:1px solid #ccc; border-top-width:0;}
			.Tmap_BL ul{ width:280px; height:auto; margin:0 auto; border-bottom:1px solid #ccc;}
			.Tmap_BL ul li{ width:100%; height:auto; display:block;}
			.Tmap_BL ul li span{ width:258px; height:20px; line-height:20px; border:1px solid #ccc; background-color:#f3f3f3; border-bottom-width:0; padding:5px 10px; display:block; cursor:pointer;}
			.Tmap_BL ul li span.block{ border-bottom:1px solid #ccc;}
			.Tmap_BL ul li span:hover{background-color:#ddd; }
			.Tmap_BL ul li span b{ font-weight:normal; margin-left:10px;}
			.Tmap_BL ul li p{ width:270px; height:auto; padding:10px 5px; overflow:hidden;}
			.Tmap_BL ul li p a{ width:auto; height:auto;line-height:30px; margin:0 10px; float:left;}
			.Tmap_BL ul li p a i{ margin:0 auto;}
			.Tmap_BL ul li p a b{ line-height:20px;}
			
			.Tmap_BL ul li p strong{ width:100%; height:20px; line-height:20px; margin-bottom:5px; display:block;}
			.Tmap_BL ul li p strong input{ margin-right:5px;}

		.Tmap_BR{ width:auto; height:auto; margin-left:320px;}



/*********************MAP*****************************/



