
<div class="mainB white_bg">
    <a href="/ShowOrder/Index" class="fl"><i class="shaidan block icon " type="footerBtn"></i><span class="block">晒单</span></a>
    <a href="/Product/Index" class="fl"><i class="shrimp_H block icon "  type="footerBtn"></i><span class="block">虾投</span></a>
    <a href="/User/Index" class="fl"><i class="smile_H block icon "  type="footerBtn"></i><span class="block">我的</span></a>
</div>