<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-UL.AXT-20151210083328.mdf;Initial Catalog=aspnet-UL.AXT-20151210083328;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="conStr" connectionString="Data Source=.;Initial Catalog=XT;User Id=sa;Password=123.com; ;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="conStr" connectionString="Data Source=120.27.140.14;Initial Catalog=XT;User Id=sa;Password=123.com;   Integrated Security=false;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>