
<div class="banner margin_b10">
    <a href="share.html"><img src="images/banner01.jpg" width="100%" height="50" /></a>
</div>
<div class="index">
    <ul>
        <li>
            <div class="index_T">
                <a class="pa collection_s_H  icon_s margin_t5"></a>
                <a href="Shrimp_head_detail.html" class="block oh">
                    <img src="images/img01.jpg" class="fr br4" />
                    <p class="oh">
                        <b class="f16 lh30 h30 block fn oh">苹果IWATCH</b>
                        <span class="f14 lh25 block gray6 oh "><em class="fl fsn">价值：2899元</em></span>
                        <span class="f12 lh25 block gray6 oh"><em class="fl fsn">剩余：10天10小时55分钟66秒</em></span>
                    </p>

                </a>
            </div>
            <div class="index_M">
                <div class="index_MR fr">
                    <a href="Submit_order.html" class="red_bg white block br4 lh30 tc f16 margin_t5">立即投资</a>
                </div>
                <div class="index_ML">
                    <h3 class="grayC_bg">
                        <b class="orange_bg block" style="width: 40%;"></b>
                    </h3>

                    <p class="oh">
                        <span class="fl"><b class="red fn block">406</b><i class=" grayC block">已参与</i></span>
                        <span class="fl tc"><b class="red fn block">1000</b><i class="grayC block">总需人次</i></span>
                        <span class="fl tr"><b class="red fn block">594</b><i class="grayC block">剩余</i></span>
                    </p>
                </div>
            </div>
            <div class="index_B tc oh">
                <span class="fl"><i class="gray6">冻结虾米 </i><b class="red fn f14">1000只</b></span>
                <span class="fl"><i class="gray6">冻结时间 </i><b class="red fn f14">30天</b></span>
                <span class="fl"><i class="gray6">获赠虾米 </i><b class="red fn f14">5只</b></span>
            </div>
        </li>

        <li>
            <div class="index_T">
                <a class="pa collection_s_H  icon_s margin_t5"></a>
                <a href="Shrimp_head_detail.html" class="block oh">
                    <img src="images/img01.jpg" class="fr br4" />
                    <p class="oh">
                        <b class="f16 lh30 h30 block fn oh">苹果IWATCH</b>
                        <span class="f14 lh25 block gray6 oh "><em class="fl fsn">价值：2899元</em></span>
                        <span class="f12 lh25 block gray6 oh"><em class="fl fsn">剩余：10天10小时55分钟66秒</em></span>
                    </p>

                </a>
            </div>
            <div class="index_M">
                <div class="index_MR fr">
                    <a href="Submit_order.html" class="red_bg white block br4 lh30 tc f16 margin_t5">立即投资</a>
                </div>
                <div class="index_ML">
                    <h3 class="grayC_bg">
                        <b class="orange_bg block" style="width: 40%;"></b>
                    </h3>

                    <p class="oh">
                        <span class="fl"><b class="red fn block">406</b><i class=" grayC block">已参与</i></span>
                        <span class="fl tc"><b class="red fn block">1000</b><i class="grayC block">总需人次</i></span>
                        <span class="fl tr"><b class="red fn block">594</b><i class="grayC block">剩余</i></span>
                    </p>
                </div>
            </div>
            <div class="index_B tc oh">
                <span class="fl"><i class="gray6">冻结虾米 </i><b class="red fn f14">1000只</b></span>
                <span class="fl"><i class="gray6">冻结时间 </i><b class="red fn f14">30天</b></span>
                <span class="fl"><i class="gray6">获赠虾米 </i><b class="red fn f14">5只</b></span>
            </div>
        </li>

        <li>
            <div class="index_T">
                <a class="pa collection_s_H  icon_s margin_t5"></a>
                <a href="Shrimp_head_detail.html" class="block oh">
                    <img src="images/img01.jpg" class="fr br4" />
                    <p class="oh">
                        <b class="f16 lh30 h30 block fn oh">苹果IWATCH</b>
                        <span class="f14 lh25 block gray6 oh "><em class="fl fsn">价值：2899元</em></span>
                        <span class="f12 lh25 block gray6 oh"><em class="fl fsn">剩余：10天10小时55分钟66秒</em></span>
                    </p>

                </a>
            </div>
            <div class="index_M">
                <div class="index_MR fr">
                    <a href="Submit_order.html" class="red_bg white block br4 lh30 tc f16 margin_t5">立即投资</a>
                </div>
                <div class="index_ML">
                    <h3 class="grayC_bg">
                        <b class="orange_bg block" style="width: 40%;"></b>
                    </h3>

                    <p class="oh">
                        <span class="fl"><b class="red fn block">406</b><i class=" grayC block">已参与</i></span>
                        <span class="fl tc"><b class="red fn block">1000</b><i class="grayC block">总需人次</i></span>
                        <span class="fl tr"><b class="red fn block">594</b><i class="grayC block">剩余</i></span>
                    </p>
                </div>
            </div>
            <div class="index_B tc oh">
                <span class="fl"><i class="gray6">冻结虾米 </i><b class="red fn f14">1000只</b></span>
                <span class="fl"><i class="gray6">冻结时间 </i><b class="red fn f14">30天</b></span>
                <span class="fl"><i class="gray6">获赠虾米 </i><b class="red fn f14">5只</b></span>
            </div>
        </li>
    </ul>
</div>